Redirect 301 /g+ https://plus.google.com/102552972061003121359
Redirect 301 /s http://playground.andybateman.com
Redirect 301 /wellywood http://playground.andybateman.com/wellywood
Redirect 301 /v/ http://playground.andybateman.com/v/
Redirect 301 /tentors http://playground.andybateman.com/tentors

ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{HTTP_HOST} ^[^.]+\.[^.]+$
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [L,R=301]
